// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

body, html
  width 100%
  font-size 62.5%
  background-color #111
  color rgba(255,255,255,0.5)
  font-family 'Helvetica', 'Arial'
  
#wrapper
  width 96em
  margin 0 auto
  margin-top 1em
    
.widget
  float left
  background rgba(255,255,255,0.05)
  width 22em
  margin 1em
  round 5px
  
  .title
    padding 1em
    font-size 10pt
    border-bottom solid 1px rgba(255,255,255,0.5)
  
  .content
    min-height 15em
    text-align center
  
    .load
      font-size 8em
      color white
      padding-top 40px
      
      