// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

@font-face
  font-family 'Droid Sans Mono' 
  font-style normal 
  font-weight 400
  src local('Droid Sans Mono'), local('Droid-Sans-Mono'), url('/fonts/Droid_Sans_Mono/DroidSansMono.ttf') format('truetype')


// Main

body, html
  width 100%
  font-size 62.5%
  background-color #111
  background-image url('/images/ios-linen.jpg')
  background-repeat repeat
  color rgba(255,255,255,0.5)
  font-family 'Helvetica', 'Arial'
  
#wrapper
  margin 1em
    
#menu
  font-size 12pt
  float left
  margin 0.5em

#widgets
  clear both
  float left
    
#newWidget
  font-weight bold
  text-shadow 1px 1px 1px rgba(0,0,0,0.5)
  color white
  cursor pointer
  background #669224
  vertical-gradient(#7ACC00, #628D21)
  padding 4px 8px
  round 20px
  float left
  border solid 2px white
  box-shadow 0px 0px 2px 2px rgba(0,0,0,0.3)
    
.widget
  float left
  background rgba(0,0,0,0.5)
  box-shadow inset 0px 3px 14px 1px rgba(0,0,0,0.45)
  width 22em
  margin 1em
  round 10px
  
  .heading
    position relative
    
    .title
      color white
      font-weight bold
      text-shadow 1px 1px 1px black
      padding 1em
      font-size 10pt
      cursor move
      text-align center
     
    .button
      opacity 0
      -webkit-transition opacity 0.3s linear

    .config
      opacity 0  
      position absolute
      top 8px
      left 19px
      width 10px
      height 10px
      round 15px
      background #E9961A
      vertical-gradient(#E8C61A, #E9961A) 
      cursor pointer

    .delete  
      opacity 0 
      position absolute
      top 8px
      left 7px
      width 10px
      height 10px
      round 15px
      background #A20000
      vertical-gradient(#FF0000, #A20000)
      cursor pointer
      

   .heading:hover .button
     opacity 1 

  .content
    min-height 15em
    text-align center
        
#tabs
  margin 2em
  text-align center  

  .tab 
    padding: 5px
    font-size: 12pt
    border-left: solid 1px #555
    border-right: solid 1px #555
    background: #eee
    cursor: pointer
    vertical-gradient(#888, #555)
    color: white
    text-shadow 1px 1px 1px rgba(0,0,0,0.5)
    display inline
    font-weight bold
    box-shadow 3px 3px 5px rgba(0,0,0,0.5)

  .tab:first-child
    round-corner(top, left, 5px)
    round-corner(bottom, left, 5px)
    border-left none
    padding-left 10px

  .tab:last-child
    round-corner(top, right, 5px)
    round-corner(bottom, right, 5px)
    border-right none
    padding-right 10px

  .tab:hover 
    background: #3E4A70
    vertical-gradient(#555, #222)

  .tab.active 
    background: #3E4A70
    vertical-gradient(#555, #222)

#tabContents 
  clear: both
  float: left
  width: 70em
  margin 0em 0em 2em 5em
  height: 30em
  round 5px

.tabContent 
  display: none

.tabContent.active 
  display: block

textarea.ide
  float: left
  font-family: 'Droid Sans Mono'
  font-size: 10pt
  width: 97%
  background: rgba(0,0,0,0.8)
  color: #E4F7BA
  -moz-box-shadow: inset 3px 3px 5px rgba(0,0,0,0.5)
  -webkit-box-shadow: inset 3px 3px 5px rgba(0,0,0,0.5)
  box-shadow: inset 3px 3px 5px rgba(0,0,0,0.5)
  border none
  padding 1em
  height 18em
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  -webkit-border-top-left-radius: 0
  -moz-border-radius-topleft: 0
  border-top-left-radius: 0
  
#overlay
  position absolute
  background rgba(0,0,0,0.4)
  top 0px
  left 0px
  right 0px
  bottom 0px
  width 100%
  height 100%
      
.dialogue
  width 80em
  margin 0 auto
  margin-left 23%
  margin-right 23%
  top 10em
  position absolute
  z-index 2
  
  .dialogue-heading
    float left
    width 100%
    background #222
    vertical-gradient(#444,#222)
    round-corner(top,left,10px)
    round-corner(top,right,10px)
    
    .dialogue-title 
      font-size 12pt
      float left
      left 10px
      color white
      text-shadow 1px 1px 1px black
      padding 1em
      font-weight bold
      
    .dialogue-close 
      text-align center
      padding 6px 8px 5px 7px
      background #AA0000
      vertical-gradient(red,#AA0000)
      font-size 12pt
      float right
      margin-top 10px
      margin-right 10px
      color white
      round 15px
      text-shadow 1px 1px 1px black
      border solid 2px white
      cursor pointer
      box-shadow 0px 1px 2px 2px rgba(0,0,0,0.3)
  
  .dialogue-content
    background white
    float left
    clear left
    width 100%
    round-corner(bottom,left,10px)
    round-corner(bottom,right,10px)
    
    p
      text-align center
      color #333
      float left
      padding 1em
      font-size 12pt
    
    a
      text-align center
      padding 1em
      font-size 12pt
      float left
      color #6D9741
    
    
#theBoringBit
  float left
  padding 1em
  width 98%
  
  
  input[type='text']
    float left
    font-size 12pt
    padding 5px
    
  input[type='submit']
    float right
    font-size 14pt
    padding 5px
    border none
    round 5px
    color white
    cursor pointer
    background #669224
    vertical-gradient(#7ACC00, #628D21)
    
#theCoolBit
  float left
  clear left