form#widget
  #theBoringBit
    input(type='text', name='title', placeholder='widget title')
    input(type='submit', value='Create')
  #theCoolBit
    #tabs
      .tab#html HTML
      .tab#css CSS
      .tab#coffee CoffeeScript
      .tab#json JSON example
      .tab#demo.active Preview
    #tabContents
      .tabContent.htmlContent
        textarea.ide
      .tabContent.cssContent
        textarea.ide
      .tabContent.coffeeContent
        textarea.ide
      .tabContent.jsonContent
        textarea.ide
      .tabContent.demoContent.active  