form#widget
  #theBoringBit
    label Title
    input(type='text', name='title')
    input(type='submit', value='Create')
  #theCoolBit
    #tabs
      .tab.active#html HTML
      .tab#css CSS
      .tab#coffee CoffeeScript
      .tab#json JSON example
      .tab#demo Preview
    #tabContents

  