!!! 5
html(lang: "en")
  head
    != SocketStream
    title SocketSteam demo: Dashboard
  body
    #wrapper
      #widgets
        .widget.template
          .title
          .content
            .load
