!!! 5
html(lang: "en")
  head
    != SocketStream
    title SocketSteam demo: Dashboard
  body
    #wrapper
      .widget#widget_1
        .title CPU load
        .content
          .load 0.87
      .widget#widget_2
        .title Random number
        .content
          .load 0.87
        
