!!! 5
html(lang: "en")
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    != SocketStream
    title SocketSteam demo: Dashboard
    style(type:'text/css', id:'cssHolder')
  body
    #wrapper
      #menu
        #logo Dashboard
        #newWidget +
      #widgets
        .widget.template
          .heading
            .title
            .button.delete(title:"Delete")
            .button.config(title:"Configure")
          .content